/* navigation */
#navbar{
    flex-direction: column;
}


navbar ul li a{
    font-size: 1rem;
}
/* home section */
#home{
    flex-direction: column;
height: 260px;
padding: 3px 68px;
}
#home::before{
    height: 370px;
    }
 #home p{
    font-size: 14px;
 }   
/* services section */
#services .box{
flex-direction: column;
}
/* client section */
#clients{
overflow: hidden;
}

/* contact section */

/* footer */
/* utility classes */
.h-primary{
    font-size: 26px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}